.navbar {
   border-radius:0;
}

.logo {
  width: 6%;
}

ul,
li {
  padding: 0;

}

ul li {
    list-style-type: none;
}

h2 {
}

button a{
  color: white;
}

#bienvenue {
  margin-bottom:50px;
}

h3,
h2 {
  margin-bottom: 16px;
  margin-top: 0;
}

h3 a {
  font-size: 14px;
}

div {
  border:white 1px solid;
}
